
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-brand" href="#"><div class="fadeIn first">
    <img src="http://www.mediafire.com/convkey/3456/v1i93mreuma5fvwzg.jpg" id="icon" alt="User Icon" class="logo"/>
  </div></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-brand" href="#">AssoSuite</div>
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        
      </li>  
  
    </ul>
    
    <form class="form-inline my-2 my-lg-0">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fa fa-home"></i>
            
            <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fa fa-cog" aria-hidden="true"></i>
              
             
            </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fa fa-id-card" aria-hidden="true"></i>
            
             
            </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fa fa-university" aria-hidden="true"></i>
            
            
            </a>
        </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          
          
          </a>
      </li>
      
    </ul>
    </form>
  </div>
</nav>
 