
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                 <div class="navbar-brand" href="#"><div class="fadeIn first">
    <img src="http://www.mediafire.com/convkey/3456/v1i93mreuma5fvwzg.jpg" id="icon" alt="User Icon" class="logo"/>
  </div></div>
                <div class="sidebar-header">
                    <h3>Menu</h3>
                </div>

                <ul class="list-unstyled components">
                    <li><a    routerLink="/detailAdherant" routerLinkActive="active">Tableau de bord</a></li>
    
                    <li>
                        <a  routerLink="/adherant" routerLinkActive="active">Gérer les Adhérants</a>
                        
                    </li>

                    <li>   
                        <a href="#">Détails</a>
                    </li>

                    <li>   
                        <a href="#">Mes boutiques</a>
                    </li>

                    <li>
                        <a routerLink="/addAdherant" routerLinkActive="router-link-active" >Mes statistiques</a>
                    </li>
                    
                </ul>

               
            </nav>

            <!-- Page Content Holder -->
    